<!DOCTYPE html>
<html>
<body>

<h1>Table Data</h1>

<u>
    {% for item in listItems %}
    <form action="{{url_for('expenseButton', listItems = item)}}" method="POST">
        <li>PK {{item[0]}}</li>
        <li>Expense category: {{item[1]}}</li>
        <li>Expense description: {{item[2]}}</li></li> 
        <li>Expense Amount: {{item[3]}}</li></li> 
        <li>Expense Date: {{item[4]}}</li></li> 
        <li>Payment Method: {{item[5]}}</li></li> 
        <input type="submit" value="DELETE" name="button">
        <input type="submit" value="UPDATE" name="button">
    </form>
    {% endfor %}
</u>

<form action="/" method="GET">
    <input type="submit" value="Insert Expense">
</form>



</body>
</html>