<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Budget</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h2>Avocadobudget</h2>
            <ul>
                <li><a href="{{url_for('report')}}">My Reports</a></li>
                <li><a href="{{ url_for('table')}}">My Expenses</a></li>  
                <li><a class="active" href="{{ url_for('budget')}}">My Budget</a></li>
            </ul>
        </aside>

        <main>
            <div class="header">
                <h1>My Budget</h1>
                <p>{{listItems[0]}}</p>
            </div>

            <div class="budget-section">
                <label for="income">My Monthly Income</label>
                <input type="number" id="income" placeholder="$3000" value="3000">
                <button class="save-btn">Save</button>
            </div>

            <table class="budget-table">
                <thead>
                    <tr>
                        <th>Expense Category</th>
                        <th>Percentage</th>
                        <th>Category Amount</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                {% for item in listItems %}
               <form action="{{url_for('budget', item = item)}}" method="POST">
               <tbody id="expense-table">
                <!-- Dynamic content will be added here -->
                    <td>{{item[0]}}</td>
                    <td>
                    </td>
                    <td>{{item[1]}}</td>
                    <td><input type="submit" value="UPDATE" name="button"></td>
               </tbody>
               </form>
               {% endfor %}
            </table>

        
        </main>
    </div>


    
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
</body>
</html>
