<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Expense</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/updateExpense.css') }}">
</head>
<body>

<div class="form-container">
    <h2>Edit Expense</h2>
    <form action="/updateExpense" method="POST">
        <input type="hidden" id="expid" name="expid" value="{{listItems[0]}}">

        <label for="expdesc">Expense Description</label>
        <input type="text" id="expdesc" name="expdesc" value="{{listItems[2]}}" required>

        <label for="expcat">Expense Category</label>
        <select name="expcat" id="expcat" required>
            <option value="rent" {% if listItems[1] == "rent" %}selected{% endif %}>Rent</option>
            <option value="groceries" {% if listItems[1] == "groceries" %}selected{% endif %}>Groceries</option>
            <option value="entertainment" {% if listItems[1] == "entertainment" %}selected{% endif %}>Entertainment</option>
            <option value="miscellaneous" {% if listItems[1] == "miscellaneous" %}selected{% endif %}>Miscellaneous</option>
            <option value="bills/subscription" {% if listItems[1] == "bills/subscription" %}selected{% endif %}>Bills/Subscription</option>
            <option value="savings" {% if listItems[1] == "savings" %}selected{% endif %}>Savings</option>
        </select>

        <label for="expamt">Expense Amount</label>
        <input type="number" id="expamt" name="expamt" step="0.01" value="{{listItems[3]}}" min="0" required>

        <label for="exppay">Expense Payment Method</label>
        <select name="exppay" id="exppay" required>
            <option value="Cash" {% if listItems[5] == "Cash" %}selected{% endif %}>Cash</option>
            <option value="Credit Card" {% if listItems[5] == "Credit Card" %}selected{% endif %}>Credit Card</option>
            <option value="Debit Card" {% if listItems[5] == "Debit Card" %}selected{% endif %}>Debit Card</option>
            <option value="Checking" {% if listItems[5] == "Checking" %}selected{% endif %}>Checking</option>
            <option value="3rd Party Payment" {% if listItems[5] == "3rd Party Payment" %}selected{% endif %}>3rd Party Payment</option>
        </select>

        <label for="expdate">Date</label>
        <input type="date" id="expdate" name="expdate" value="{{listItems[4]}}" required>

        <div class="button-container">
            <button type="button" class="cancel-btn" onclick="window.location.href='/returnIndex'">Cancel</button>
            <button type="submit" class="submit-btn">Save & Update</button>
        </div>
    </form>
</div>

</body>
</html>
