<!DOCTYPE html>
<html>
<body>

<h1>Update Expense</h1>
<p>Enter your expense infromation</p>

<form action="/updateExpense" method="POST">
    <input type="hidden" id="expid" name="expid" value ="{{listItems[0]}}"><br><br>
    <label for="excpcat">Expense category:</label>
    <select name="expcat" id="expcat" required>
        <option value="rent" {% if listItems[1]  == "rent" %}selected{% endif %}>Rent</option>
        <option value="groceries" {% if listItems[1]  == "groceries" %}selected{% endif %}>Groceries</option>
        <option value="entertainment" {% if listItems[1]  == "entertainment" %}selected{% endif %}>entertainment</option>
        <option value="miscellaneous" {% if listItems[1]  == "miscellaneous" %}selected{% endif %}>miscellaneous</option>
        <option value="bills/subscription" {% if listItems[1]  == "bills/subscription" %}selected{% endif %}>bills/subscription</option>
        <option value="savings" {% if listItems[1]  == "savings" %}selected{% endif %}>savings</option>
    </select><br>
    <label for="expdesc">Expense desc:</label>
    <input type="text" id="expdesc" name="expdesc" value="{{listItems[2]}}" required><br><br>
    <label for="expamt">Expense Amount: </label>
    <input type="number" id="expamt" name="expamt" step="0.01" value="{{listItems[3]}}" min="0" required><br><br>
    <label for="expdate">Date:</label>
    <input type="date" id="expdate" name="expdate" value = "{{listItems[4]}}" required><br><br>
    <label for="exppay">Payment Method:</label>
    <select name="exppay" id="expcat" required>
        <option value="Cash" {% if listItems[5]  == "Cash" %}selected{% endif %}>Cash</option>
        <option value="Credit Card" {% if listItems[5]  == "Credit Card" %}selected{% endif %}>Credit Card</option>
        <option value="Debit Card" {% if listItems[5]  == "Debit Card" %}selected{% endif %}>Debit Card</option>
        <option value="Checking" {% if listItems[5]  == "Checking" %}selected{% endif %}>Checking</option>
        <option value="3rd Party Payment" {% if listItems[5]  == "3rd Party Payment" %}selected{% endif %}>3rd Party Payment</option>
    </select><br>
    <input type="submit" value="UPDATE RECORD">
</form>

<form action="/returnIndex" method="GET">
    <input type="submit" value="View Expenses">
</form>

</body>
</html>